<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>YT Alarm</title>

<!-- CSS (load bulma from a CDN) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<!-- JS (load font awesome from a CDN) -->
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<!-- CSS (custom styling) -->
<link rel="stylesheet" href="/stylesheets/style.css">
<!-- JS (custom scripts) -->
<script type="text/javascript" src="/js/main.js"></script>